[Unit]
Description=nginx-proxy
After=docker.service
Requires=docker.service

[Service]
Group=docker
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull jwilder/nginx-proxy
ExecStart=/usr/bin/docker run \
	--name %n \
	-p 80:80 \
	-p 443:443 \
	-v /etc/nginx/certs:/etc/nginx/certs:ro \
	-v /etc/nginx/vhost.d \
	-v /usr/share/nginx/html \
	-v /var/run/docker.sock:/tmp/docker.sock:ro \
		jwilder/nginx-proxy
ExecStop=/usr/bin/docker stop -t 2 %n
ExecStopPost=/usr/bin/docker rm -f %n
Restart=always
RestartSec=10s
TimeoutStartSec=0
TimeoutStopSec=150

[Install]
WantedBy=multi-user.target
